{% extends 'base.html' %}
{% block title %}تسویه حساب{% endblock %}
{% block content %}
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>چک کردن نهایی</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->



<section class="checkout_area section_padding">
    <div class="container">
      <div class="returning_customer">
        <div class="check_title">
          <h2>
            قبلا خرید داشته اید؟
            <a href="{% url 'login' %}">برای ورود اینجا کلیک کنید</a>
          </h2>
        </div>

          <div class="check_title">
          <h2>
            <a href="{% url 'signup' %}">ثبت نام</a>
          </h2>
        </div>
          </div>
        </form>
        <div>
      </div>
      <br>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>سفارش شما</h2>

                {% for item in cart %}
                     <div>
                        <span>{{ item.product.name }}</span>
                        <span>{{ item.quantity }}   عدد</span>
                        <span>قیمت کل:    {{ item.total_price }}     </span>
                     </div>
                {% endfor %}
              <hr>
              <div style="margin-top:30px">
                <div>مجموع صورت حساب: {{ cart.get_total_price }}</div>
              <ul class="list list_2">

                <li>
                 <div>تخفیف:  {{ cart.get_discount }}</div>
                  <a href="#">
                    <span> مجموع صورت حساب بعد از اعمال تخفیف: {{ cart.get_total_price_after_discount }}</span>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->


  <div>اطلاعات خود را وارد کنید:</div>
    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="سفارش"></p>
        {% csrf_token %}
    </form>
{% endblock %}