{% extends 'base.html' %}
{% load static %}
{% block title %}سبد خرید{% endblock %}

{% block content %}
<!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>سبد خرید</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <section class="cart_area section_padding" dir="rtl">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
           <table class="table">
               <thead>
                 <tr>
                    <th scope="col">عکس محصول</th>
                    <th scope="col">نام محصول</th>
                    <th scope="col">قیمت</th>
                    <th scope="col">تعداد</th>
                    <th scope="col">جمع کل</th>
                    <th scope="col">حذف</th>
                 </tr>
               </thead>
               <tbody>
                {% for item in cart %}
                  {% with product=item.product %}
                      <tr>
                          <td>
                             <div class="media">
                                <a href="{{ product.get_absolute_url }}" class="d-flex">
                                    <img src="{{ product.images.first.image.url }}" alt="" />
                                </a>
                             </div>
                          </td>

                          <td>
                              <a href="{{ product.get_absolute_url }}"> <h5>{{ product.name }}</h5></a>
                          </td>

                          <td>
                            <h5>{{ product.price }} تومان</h5>
                          </td>

                          <td>
                              <form action="{% url 'cart:cart_add'  product.id %}" method="post">
                                  {{ item.update_quantity_form.quantity }}
                                  {{ item.update_quantity_form.override }}
                                  <input class="btn_1" type="submit" value="بروزرسانی">
                                  {% csrf_token %}
                              </form>
                          </td>
                          <td>
                            <h5>{{ item.total_price }} تومان</h5>
                          </td>

                          <td>
                              <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                  <input class="btn_1" type="submit" value="حذف">
                                  {% csrf_token %}
                              </form>
                          </td>
                      </tr>
                  {% endwith %}
                {% endfor %}

                {% if cart.coupon %}
                    <tr class="subtotal">
                        <td>مبلغ قابل پرداخت</td>
                        <td colspan="4"></td>
                        <td class="num">{{ cart.get_total_price }} تومان</td>
                    </tr>

                    <tr>
                        {% with code=cart.coupon.code discount=cart.coupon.discount %}
                            <td>کد تخفیف "{{ code }}"   ({{ discount }}% تخفیف)</td>
                        {% endwith %}
                        <td colspan="4"></td>
                        <td class="num neg">
                            - {{ cart.get_discount }} تومان
                        </td>
                    </tr>
                {% endif %}



              <tr>
                <td>
                  <h5>مجموع</h5>
                </td>
                <td colspan="4"></td>

                <td>
                  <h5>{{ cart.get_total_price_after_discount }} تومان</h5>
                </td>
              </tr>
            </tbody>

          </table>
              <form action="{% url 'coupon:apply' %}" method="post">
                  {{ coupon_apply_form }}
                  {% csrf_token %}
                  <input type="submit" class="tp_btn" value="درج کد تخفیف">
              </form>

          <div class="checkout_btn_inner float-right" style="margin:30px">
            <a class="btn_1" href="{% url 'shop:product_list' %}">ادامه خرید</a>
            <a class="btn_1 checkout_btn_1" href="{% url 'order:create_order' %}">رفتن به قسمت چک کردن محصول</a>
          </div>
        </div>
      </div>
        </div>
    </section>

  <!--================End Cart Area =================-->
{% endblock %}